<!-- sidebar -->
<div class="container">
    <div class="row progress-cust">
        <!-- do stuff here -->
        <p>To begin, select which type of mobileconfig profile you would like to create.</p>
    </div>
    <div id="config-selection-area">
        <div class="row config-selection">
            <div class="col-md-6">
                <div class="config-type-left" onmouseover="hover(this)" onmouseout="exit_hover(this)" onclick="addGenerate('cert')">
                    <h3>Certificate</h3>
                    <i class="fa fa-lock fa-5x" aria-hidden="true"></i><p>Add a corporate certificate to the profile</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="config-type-right" onmouseover="hover(this)" onmouseout="exit_hover(this)" onclick="addGenerate('email')">
                    <h3>Email</h3>
                    <i class="fa fa-envelope fa-5x" aria-hidden="true"></i><p>Add an email account</p>
                </div>
            </div>
        </div>
        <div class="row config-selection">
            <div class="col-md-6">
                <div class="config-type-left" onmouseover="hover(this)" onmouseout="exit_hover(this)" onclick="addGenerate('wifi')">
                    <h3>Wi-Fi</h3>
                    <i class="fa fa-wifi fa-5x" aria-hidden="true"></i><p>Add a Wi-Fi network to the profile</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="config-type-right" onmouseover="hover(this)" onmouseout="exit_hover(this)" onclick="addGenerate('restrict')">
                    <h3>Restrictions</h3>
                    <i class="fa fa-ban fa-5x" aria-hidden="true"></i><p>Specify restrictions for the profile</p>
                </div>
            </div>
        </div>
        <div class="row create">
            <button class="btn btn-default" onclick="createProfile()">Create Profile</button>
        </div>
    </div>
</div>
