<div class="container">
    <div class="row start">
        <p>You seem to have previously started creating a configuration profile. Would you like to continue this or start from scratch?</p>
    </div>
    <div class="row start">
        <div class="col-md-6">
            <button class="btn btn-default" onclick="continuePrevious()">Continue</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-default" onclick="restart()">Restart</button>
        </div>
    </div>
</div>
