/* Main SASS Stylesheet */

// variables
$fontstack: "Lucida Grande", Helvetica, Arial, sans-serif
$fontsize: 14px

// body styles
body
    padding: 50px
    font: $fontsize $fontstack

a
    color: #00B7FF

// For the email entry
#message
    color: red
    text-align: center
.start
    text-align: center

.progress-cust
    @extend .start

.config-selection
    padding-top: 50px

$cellWidth: 250px
$cellHeight: 200px

.config-type
    border-radius: 10px
    border-color: #303030
    border-width: medium
    border-style: solid
    width: $cellWidth
    height: $cellHeight
    text-align: center
    cursor: pointer

.config-type-left
    @extend .config-type
    float: right

.config-type-right
    @extend .config-type
    float: left
