<!-- sidebar -->
<div class="container">
    <div class="row progress-cust">
        <!-- do stuff here -->
        <p>To generate a mobileconfig containing a certificate, follow the steps below</p>
    </div>
    <div class="row">
        
    </div>
</div>
