<!-- sidebar -->
<div class="container">
    <div class="row progress-cust">
        <p>To generate a mobileconfig containing an email account, please enter the setings below. Asterisk (*) denotes a required field.</p>
    </div>
    <div class="row">
        <div id="message" style="height:100px"></div>
        <div class="form-group">
            <label for="emailDisplayName">Email Account Display Name*</label>
            <input type="text" class="form-control" id="emailDisplayName" placeholder="Work Email">
            <p class="help-block">This is the name for this account</p>

            <label for="emailAddress">Email Address*</label>
            <input type="text" class="form-control" id="emailAddress" placeholder="someone@example.com">

            <label for="userName">User Name</label>
            <input type="text" class="form-control" id="userName" placeholder="Example User">
            <p class="help-block">The full user name for the account.</p>

            <label for="incomingServer">Incoming Server Hostname*</label>
            <input type="text" class="form-control" id="incomingServer" placeholder="mail.example.com">

            <div class="checkbox">
                <label>
                    <input id="useSSLIncoming" type="checkbox" onclick="incomingSSLClicked()"> Use SSL for incoming mail
                </label>
            </div>

            <label for="portNumberIn">Incoming Port Number</label>
            <input type="number" class="form-control" id="portNumberIn" placeholder="143">

            <label for="incomingUsername">Incoming Mail Username*</label>
            <input type="text" class="form-control" id="incomingUsername" placeholder="MAndersons">

            <label for="incomingPassword">Incoming Password*</label>
            <input type="password" class="form-control" id="incomingPassword">

            <label for="outgoingServer">Outgoing Server Hostname*</label>
            <input type="text" class="form-control" id="outgoingServer" placeholder="smtp.example.com">

            <div class="checkbox">
                <label>
                    <input id="useSSLOutgoing" type="checkbox" onclick="outgoingSSLClicked()"> Use SSL for outgoing mail
                </label>
            </div>

            <label for="portNumberOut">Outgoing Port Number</label>
            <input type="number" class="form-control" id="portNumberOut" placeholder="25">

            <label for="outgoingUsername">Outgoing Mail Username*</label>
            <input type="text" class="form-control" id="outgoingUsername" placeholder="MAndersons">

            <div class="checkbox">
                <label>
                    <input id="outgoingSameAsIncoming" type="checkbox" onclick="outgoingPasswordSameAsIncoming()"> Use same password for outgoing mail as incoming
                </label>
            </div>

            <div id="outgoingPasswordBlock">
                <label for="outgoingPassword">Outgoing Password*</label>
                <input type="password" class="form-control" id="outgoingPassword">
            </div>

        </div>
        <button type="submit" class="btn btn-default" onclick="submit()">Submit</button>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="{{url}}/javascripts/emailValidation.js"></script>
